<div class="side-head">
  <a class="user-name" href=#>ねこ</a>
  <a class="new-chat" href=#>チャットを作成する</a>
</div>

<div class="side-rooms">
  <div class="room">
    <div class="room-name">
      <a href=#>room1</a>
    </div>
    <div class="room">
      <div class="room-name">
        <a href=#>room2</a>
      </div>
    </div>
  </div>
</div>
