/* 全体 */
.wrapper{
  display: flex;
}

/* サイドバー部分 */

.side-bar{
  display: flex;
  flex-direction: column;
}

.side-head{
  background-color: #253141;
  width: 300px;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a{
  font-size: 16px;
  text-decoration: none;
  color: #FAFAFA;
}

.new-chat{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-rooms{
  background-color: #2f3e51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room-name{
  margin: 20px 0 40px 0;
}

.room-name a{
  text-decoration: none;
  color: white;
}

/* チャット部分 */

.main-wrapper{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;
}

.main-head{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-title{
  color: #333;
  font-size: 24px;
  padding: 36px 0 0 0;
}

.quit-chat {
  padding-top: 40px;
}

.quit-chat a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}


.chat-body{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.chat-info{
  margin-top: 10px;
  display: flex;
}

.chat-user{
  color: #434a54;
  font-size: 16px;
}

.datetime{
  color: #999999;
  font-size: 12px;
  margin-left: 10px;
}

.chat-text{
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.chat-form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.message-forms{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.text-form{
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

/* 画像ボタンのCSS */
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.send-btn{
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  border: none;
}